@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.ttf'); 
}
@font-face {
  font-family: 'PT-Sans-Regular';
  src: url('../fonts/PT-Sans-Regular.ttf'); 
}
@font-face {
  font-family: 'PT-Sans-Bold';
  src: url('../fonts/PT-Sans-Bold.ttf'); 
}
